In [1]:
import pandas as pd
from io import BytesIO
import requests
from urllib.parse import urlencode
import urllib
from requests.auth import HTTPBasicAuth
from requests.exceptions import ChunkedEncodingError
import os
import json
import yadisk
from datetime import datetime, date, timedelta
import locale
from time import sleep
import shutil
import gc
import turbodbc
from turbodbc import connect
import gc
from pandas.api.types import is_string_dtype
import numpy as np
from sqlalchemy import create_engine
import pyodbc
import warnings


pd.options.mode.chained_assignment = None


# параметры подключения к нашей БД, в которую сохранить итоговые таблицы
server_local = 'REGRU-54856\MSSQLSERVER01'
database_local = 'custom_tables_NL_2208' #'custom_tables_NL_2208' - БД для тестовой загрузки / 'NL_db_27082024' - БД для дашбодра НЛ
conn_str_local = 'DRIVER={SQL Server};SERVER='+server_local+';DATABASE='+database_local+';'

# указываем путь и название файла с токеном для Яндекс Диск
file_path = r'C:\Users\o.bogomolov\Desktop\Jupyter_notebook\32_NL_Yandex_Disk'
file_name = 'yandex_token.txt'

# сохраняем токен в отдельную переменную
yandex_token = open(os.path.join(file_path, file_name), encoding='utf-8').read()
# формируем заголовки для дальнейших запросов
headers = {
    'Content-Type': 'application/json', 
    'Accept': 'application/json', 
    'Authorization': f'OAuth {yandex_token}'
}

# указываем путь к основной папке, в которой храняться папки с флайтами
main_folder = '/NL_отчеты_для_дашборда'

# УРЛ для операций над опубликованными папками и файлами на Яндекс Диске
base_public_url = 'https://cloud-api.yandex.net/v1/disk/public/resources?'  
public_key = 'https://disk.yandex.ru/d/2iYr8zMm9Qgeug' # обычная ссылка на доступ к папке одного данного ФЛАЙТА из личного кабинета

download_url = 'https://cloud-api.yandex.net/v1/disk/public/resources/download?' # УРЛ для скачивания эксель файлов из Яндекс Диска
delete_url = 'https://cloud-api.yandex.net/v1/disk/resources?' # УРЛ для удаления папок и файлов на Яндекс Диске

final_url = base_public_url + urlencode(dict(public_key=public_key))  # Формируем УРЛ для получения списка папок и файлов
res = requests.get(final_url)  # Отправлем запрос на Яндекс диск, чтобы получить название папок и public key для скачивания файлов

print(res.status_code)

yandex_folders = res.json() # парсим ответ

200

In [2]:
# Включаем отображение всех колонок
pd.set_option('display.max_columns', None)

# Задаем ширину столбцов по контенту
pd.set_option('display.max_colwidth', None)

pd.set_option('display.max_rows', None)

pd.options.mode.chained_assignment = None

In [3]:
# Создаем функцию для получения содержимого Яндекс диска
#  на входе принимаем 
# - адрес запроса для скачивания файла
# - public key, который мы получаем из ответа Яндекс при запросе информации по конкретной папке
# - адрес папки
# - лимит файлов (максимальное кол-во 80)
def get_yandex_disk_responce(request_url, public_key, folder_path, limit=80):
    res_url = request_url + urlencode(dict(public_key=public_key, path=folder_path, limit=limit)) # формируем строку запроса
    res = requests.get(res_url) # отправляем запрос на сервер
    yandex_responce = res.json() # получаем ответ и преобразуем его в json

    return yandex_responce

In [4]:
public_key = yandex_folders['public_key']  # из ответа Яндекс забираем public_key, чтобы использовать его для скачивания файлов

for i in range(len(yandex_folders['_embedded']['items'])): # через цикл проходим по ответу Яндекса и забираем названия вложенных папок
    file_type = yandex_folders['_embedded']['items'][i]['type']
    if file_type=='dir':   # если находим файлы с типом dir (папка), то забираем путь к этой папке
        folder_path = yandex_folders['_embedded']['items'][i]['path']
        print(folder_path)
        yandex_responce = get_yandex_disk_responce(base_public_url, public_key, folder_path) # отправляем запрос, чтобы получить содержимое папки

        # Через цикл проходим по папке с файлами
        # Нас интересуют файлы эксель. Причем каждая экселька будет парситься по своему, т.к. они относятся к разным рекламным площадкам
        
        # Проходим через цикл по содержимому папки (отдельный флайт)
        for i in range(len(yandex_responce['_embedded']['items'])):
            file_info = yandex_responce['_embedded']['items'][i]
            if file_info['type']=='file':  # если документ является фалйом(не папкой или изображением), то забираем его название 
                file_name = file_info['name'] # сохраняем название файла
                if 'xls' in file_name: # еслит тип файла является xlsx, то уберем расширение и будем его использовать в качесвте названия отчета
                    file_path = file_info['path']
                    
                    report_name = '.'.join(file_name.split('.')[:-1]) # убираем .xlsx из названия файла
                    print(report_name)
                    res_file_link = get_yandex_disk_responce(download_url, public_key, file_path) # получаем ссылку на скачивание отчета
                    download_response = requests.get(res_file_link['href'])

/01_new_sources_files
/02_regular_reports
beeline_video

In [5]:
data_link = download_response.content

In [6]:
sheet_names = pd.ExcelFile(BytesIO(data_link))

In [7]:
sheet_names.sheet_names

['15s', '6s']

In [8]:
report_type = 'test'

In [9]:
cols_range = 'A:J' # задаем диапазон полей, которые нам нужны
    # создаем список с названиями полей

In [10]:
df = pd.read_excel(BytesIO(data_link), sheet_name='15s', usecols=cols_range, header=None, skiprows=8)

In [13]:
df.head(3)

,0,1,2,3,4,5,6,7,8,9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,Impressions,Clicks,Reach,First Quartile,Midpoint,Third Quartile,Complete views,NaN,NaN
2,2024-08-26 00:00:00,4250,32,1862,3871,3704,3141,2986,NaN,NaN

In [15]:
df = df.fillna(0)  #заполяем пустые строки, чтобы затем их удалить
        
start_index_list = list(df[df[0]=='Date'].index)  # берем индекс начала таблицы с данными

In [19]:
start_index = start_index_list[0]
name = '15s'

In [70]:
creative_name = df[0][start_index-1]
key = name
# если такое название есть, то добавляем его к базовому названию креатива
if creative_name:
    key = name + '_' + str(creative_name).lower()

df_tmp = df.iloc[start_index+1:]
df_tmp.columns = df.iloc[start_index].str.lower().str.strip() # забираем название полей из файла
df_tmp = df_tmp.rename(columns={'first quartile': '25', 'midpoint': '50', 'third quartile': '75', 'complete views': '100'}) # привоодим их к стандарту
df_tmp = df_tmp[['date', 'impressions','reach', 'clicks',  '25', '50', '75', '100']] # оставляем только нужные поля
df_tmp = df_tmp.reset_index(drop=True) # сбрасываем индексацию
end_index = list(df_tmp[df_tmp['date']==0].index)[0] # получаем окончание датаФрейма
df_tmp = df_tmp.iloc[:end_index] # обрезаем датаФрейм до нужной строки

In [72]:
end_index

28

In [74]:
df_tmp

1                  date impressions  reach clicks     25     50     75    100
0   2024-08-26 00:00:00        4250   1862     32   3871   3704   3141   2986
1   2024-08-27 00:00:00        2583    768     23   2376   2254   1881   1817
2   2024-08-28 00:00:00        1900    661     24   1747   1665   1378   1321
3   2024-08-29 00:00:00         453    146     10    421    400    321    314
4   2024-08-30 00:00:00       50303  20787    504  47409  45999  45005  43014
5   2024-08-31 00:00:00       54014  22230    556  50973  48602  47620  46467
6   2024-09-01 00:00:00       38608  15464    369  34749  31894  31025  30381
7   2024-09-02 00:00:00       30696  11030    306  28149  25598  24812  24290
8   2024-09-03 00:00:00       23676  10524    233  20724  18755  18039  17570
9   2024-09-04 00:00:00       23902   9633    242  19757  16757  15869  15403
10  2024-09-05 00:00:00       22320  10287    224  19552  17227  16194  15694
11  2024-09-06 00:00:00       21859   9006    220  19130  16645  16104  15664
12  2024-09-07 00:00:00       22442  10053    225  19513  16566  16002  15522
13  2024-09-08 00:00:00       23966   9265    238  21176  18009  17328  16842
14  2024-09-09 00:00:00       20605   7678    203  19023  17697  17172  16839
15  2024-09-10 00:00:00       21615   7964    221  18725  16171  15316  14927
16  2024-09-11 00:00:00       22090   8516    219  19518  17000  16210  15839
17  2024-09-12 00:00:00       21634   7956    219  19653  17457  16790  16477
18  2024-09-13 00:00:00       21456   7956    216  19660  17535  16881  16621
19  2024-09-14 00:00:00       22292   7876    218  20205  17688  17042  16757
20  2024-09-15 00:00:00       21538   7948    221  19026  16231  15634  15354
21  2024-09-16 00:00:00       21635   8039    214  19258  16844  16317  16021
22  2024-09-17 00:00:00       22149   7975    224  19155  15901  15263  14951
23  2024-09-18 00:00:00       24994   8880    249  21669  17883  17047  16617
24  2024-09-19 00:00:00       25049   8751    253  22160  19071  18203  17759
25  2024-09-20 00:00:00       22637   8295    224  20105  17680  16984  16593
26  2024-09-21 00:00:00       22832   8200    229  19118  16369  14993  14480
27  2024-09-22 00:00:00       21911   7762    218  18564  16038  15284  14929

In [78]:
tmp_video_dict = {}
    
sheet_names = pd.ExcelFile(BytesIO(data_link))
cols_range = 'A:J' # задаем диапазон полей, которые нам нужны

 # проходим через цикл по списку названий листов
for name in sheet_names.sheet_names:
        # передаем название листа для парсинга, диапазон колонок, которые нам нужны и заранее подготовленный списко названий полей
        df = pd.read_excel(BytesIO(data_link), sheet_name=name, usecols=cols_range, header=None, skiprows=8) 
        df = df.fillna(0)  #заполяем пустые строки, чтобы затем их удалить
        
        start_index_list = list(df[df[0]=='Date'].index)  # берем индекс начала таблицы с данными
    
        # Проходим через цикл по каждой таблице, которая содержится на листе
        for num, i in enumerate(start_index_list):
            # забираем индекс строки начала таблицы
            start_index = start_index_list[num]
            
            creative_name = df[0][start_index-1]
            key = name
            # если такое название есть, то добавляем его к базовому названию креатива
            if creative_name:
                key = name + '_' + str(creative_name).lower()
            
            df_tmp = df.iloc[start_index+1:]
            df_tmp.columns = df.iloc[start_index].str.lower().str.strip() # забираем название полей из файла
            df_tmp = df_tmp.rename(columns={'first quartile': '25', 'midpoint': '50', 'third quartile': '75', 'complete views': '100'}) # привоодим их к стандарту
            df_tmp = df_tmp[['date', 'impressions','reach', 'clicks',  '25', '50', '75', '100']] # оставляем только нужные поля
            df_tmp = df_tmp.reset_index(drop=True) # сбрасываем индексацию
            end_index = list(df_tmp[df_tmp['date']==0].index)[0] # получаем окончание датаФрейма
            df_tmp = df_tmp.iloc[:end_index] # обрезаем датаФрейм до нужной строки
            df_tmp['date'] = pd.to_datetime(df_tmp['date']).dt.date # приводим датуВремя в просто дату
            df_tmp['source'] = 'beeline'
            df_tmp['format_type'] = 'video' # добавляем статичое поле с название Типа формата рекламы (Видео/Баннер)
            df_tmp['product'] = key # добавляем название продукта
            df_tmp['report_type'] = report_type
            # сохраняем датаФрейм во временный словарь 
            # ключ - это название продукта (15s, 6s и тд) + дополнительное название креатива(если оно есть)
    
            tmp_video_dict[key] = df_tmp

In [79]:
tmp_video_dict

{'15s': 1         date impressions  reach clicks     25     50     75    100   source  \
 0   2024-08-26        4250   1862     32   3871   3704   3141   2986  beeline
 1   2024-08-27        2583    768     23   2376   2254   1881   1817  beeline
 2   2024-08-28        1900    661     24   1747   1665   1378   1321  beeline
 3   2024-08-29         453    146     10    421    400    321    314  beeline
 4   2024-08-30       50303  20787    504  47409  45999  45005  43014  beeline
 5   2024-08-31       54014  22230    556  50973  48602  47620  46467  beeline
 6   2024-09-01       38608  15464    369  34749  31894  31025  30381  beeline
 7   2024-09-02       30696  11030    306  28149  25598  24812  24290  beeline
 8   2024-09-03       23676  10524    233  20724  18755  18039  17570  beeline
 9   2024-09-04       23902   9633    242  19757  16757  15869  15403  beeline
 10  2024-09-05       22320  10287    224  19552  17227  16194  15694  beeline
 11  2024-09-06       21859   9006    220  19130  16645  16104  15664  beeline
 12  2024-09-07       22442  10053    225  19513  16566  16002  15522  beeline
 13  2024-09-08       23966   9265    238  21176  18009  17328  16842  beeline
 14  2024-09-09       20605   7678    203  19023  17697  17172  16839  beeline
 15  2024-09-10       21615   7964    221  18725  16171  15316  14927  beeline
 16  2024-09-11       22090   8516    219  19518  17000  16210  15839  beeline
 17  2024-09-12       21634   7956    219  19653  17457  16790  16477  beeline
 18  2024-09-13       21456   7956    216  19660  17535  16881  16621  beeline
 19  2024-09-14       22292   7876    218  20205  17688  17042  16757  beeline
 20  2024-09-15       21538   7948    221  19026  16231  15634  15354  beeline
 21  2024-09-16       21635   8039    214  19258  16844  16317  16021  beeline
 22  2024-09-17       22149   7975    224  19155  15901  15263  14951  beeline
 23  2024-09-18       24994   8880    249  21669  17883  17047  16617  beeline
 24  2024-09-19       25049   8751    253  22160  19071  18203  17759  beeline
 25  2024-09-20       22637   8295    224  20105  17680  16984  16593  beeline
 26  2024-09-21       22832   8200    229  19118  16369  14993  14480  beeline
 27  2024-09-22       21911   7762    218  18564  16038  15284  14929  beeline

 1  format_type product report_type
 0        video     15s        test
 1        video     15s        test
 2        video     15s        test
 3        video     15s        test
 4        video     15s        test
 5        video     15s        test
 6        video     15s        test
 7        video     15s        test
 8        video     15s        test
 9        video     15s        test
 10       video     15s        test
 11       video     15s        test
 12       video     15s        test
 13       video     15s        test
 14       video     15s        test
 15       video     15s        test
 16       video     15s        test
 17       video     15s        test
 18       video     15s        test
 19       video     15s        test
 20       video     15s        test
 21       video     15s        test
 22       video     15s        test
 23       video     15s        test
 24       video     15s        test
 25       video     15s        test
 26       video     15s        test
 27       video     15s        test  ,
 '6s_v1': 1         date impressions  reach clicks     25     50     75    100   source  \
 0   2024-08-26       11876   4378     35  11005  10808  10527  10160  beeline
 1   2024-08-27       19093   7335    150  17666  17199  16740  16281  beeline
 2   2024-08-28       51772  23142    308  48135  46831  45520  44148  beeline
 3   2024-08-29       33285  13565    200  30776  30003  29253  28176  beeline
 4   2024-08-30        1857    826     13   1717   1686   1640   1577  beeline
 5   2024-08-31         590    251      2    566    556    548    542  beeline
 6   2024-09-01        8462   3599     51   8159   8014   7858   7656  beeline
 7   2024-09-02       13397   5729     83  13031  12779  12555  12279  beeline
 8   2024-09-03       15160   6130     91  14535  14014  13504  12856  beeline
 9   2024-09-04       16680   6286     98  16008  15395  14744  13863  beeline
 10  2024-09-05       16760   6082    102  15957  15302  14697  13931  beeline
 11  2024-09-06       16827   6155    100  16252  15693  15089  14219  beeline
 12  2024-09-07       15719   6059     98  15116  14661  14149  13385  beeline
 13  2024-09-08       15983   6276     92  15421  14925  14369  13433  beeline
 14  2024-09-09       17614   6469    100  17047  16685  16322  15852  beeline
 15  2024-09-10       16669   6209    107  15824  15188  14432  13206  beeline
 16  2024-09-11       16176   6515     97  15637  15166  14732  14025  beeline
 17  2024-09-12       16729   5949    101  16100  15586  14985  14075  beeline
 18  2024-09-13       16695   5943    101  16100  15557  14940  14075  beeline
 19  2024-09-14       16147   5910     97  15623  15197  14688  13932  beeline
 20  2024-09-15       16734   6106     99  16088  15515  14894  13983  beeline
 21  2024-09-16       16670   6062     99  16026  15463  14853  14037  beeline
 22  2024-09-17       15983   5991     98  15327  14889  14427  13808  beeline
 23  2024-09-18       16678   6059    100  16071  15467  14888  14068  beeline
 24  2024-09-19       15738   5878     93  15280  14850  14392  13701  beeline
 25  2024-09-20       16333   5578     98  15647  14967  14338  13440  beeline
 26  2024-09-21       16801   6056    102  15919  15407  15086  14677  beeline
 27  2024-09-22       16770   6042    100  16059  15422  14967  14343  beeline

 1  format_type product report_type
 0        video   6s_v1        test
 1        video   6s_v1        test
 2        video   6s_v1        test
 3        video   6s_v1        test
 4        video   6s_v1        test
 5        video   6s_v1        test
 6        video   6s_v1        test
 7        video   6s_v1        test
 8        video   6s_v1        test
 9        video   6s_v1        test
 10       video   6s_v1        test
 11       video   6s_v1        test
 12       video   6s_v1        test
 13       video   6s_v1        test
 14       video   6s_v1        test
 15       video   6s_v1        test
 16       video   6s_v1        test
 17       video   6s_v1        test
 18       video   6s_v1        test
 19       video   6s_v1        test
 20       video   6s_v1        test
 21       video   6s_v1        test
 22       video   6s_v1        test
 23       video   6s_v1        test
 24       video   6s_v1        test
 25       video   6s_v1        test
 26       video   6s_v1        test
 27       video   6s_v1        test  ,
 '6s_v2': 33        date impressions  reach clicks     25     50     75    100   source  \
 0   2024-08-26       11827   5709     61  10892  10636  10395  10099  beeline
 1   2024-08-27       43138  20018    267  39897  38729  37725  36779  beeline
 2   2024-08-28       61226  28108    368  56111  54702  53550  52144  beeline
 3   2024-08-29       46119  19007    278  42252  41225  40423  39144  beeline
 4   2024-08-30        3404   1556     21   3100   3011   2936   2843  beeline
 5   2024-08-31        1031    398      5    985    974    957    945  beeline
 6   2024-09-01        8213   3431     52   7923   7747   7609   7374  beeline
 7   2024-09-02       11452   4383     69  11196  11011  10865  10696  beeline
 8   2024-09-03       16781   6228     98  16006  15346  14773  13993  beeline
 9   2024-09-04       14616   5323     88  13996  13433  12846  12120  beeline
 10  2024-09-05       16078   5550     98  15286  14613  14042  13184  beeline
 11  2024-09-06       16671   5997    101  16257  15848  15535  14938  beeline
 12  2024-09-07       16810   6155    100  16084  15373  14711  13692  beeline
 13  2024-09-08       15131   5757     92  14631  14163  13701  12991  beeline
 14  2024-09-09       16939   6278     93  16356  15905  15535  15067  beeline
 15  2024-09-10       16730   6407    107  15897  15192  14457  13282  beeline
 16  2024-09-11       16681   6499    102  16093  15533  15066  14345  beeline
 17  2024-09-12       16692   6165     98  16118  15671  15154  14351  beeline
 18  2024-09-13       17022   6103    102  16366  15757  15178  14203  beeline
 19  2024-09-14       16630   6220    101  16147  15635  15125  14395  beeline
 20  2024-09-15       16779   6180    101  16176  15566  14943  14194  beeline
 21  2024-09-16       16746   6699     99  16079  15404  14762  13999  beeline
 22  2024-09-17       16782   6110    102  16066  15499  14992  14218  beeline
 23  2024-09-18       13567   4916     80  13104  12665  12206  11528  beeline
 24  2024-09-19       14249   5079     86  13803  13393  12993  12389  beeline
 25  2024-09-20       16140   5845     97  15550  14848  14191  13297  beeline
 26  2024-09-21       15213   5423     92  14457  13965  13640  13210  beeline
 27  2024-09-22       16779   5609    101  15994  15276  14777  14168  beeline

 33 format_type product report_type
 0        video   6s_v2        test
 1        video   6s_v2        test
 2        video   6s_v2        test
 3        video   6s_v2        test
 4        video   6s_v2        test
 5        video   6s_v2        test
 6        video   6s_v2        test
 7        video   6s_v2        test
 8        video   6s_v2        test
 9        video   6s_v2        test
 10       video   6s_v2        test
 11       video   6s_v2        test
 12       video   6s_v2        test
 13       video   6s_v2        test
 14       video   6s_v2        test
 15       video   6s_v2        test
 16       video   6s_v2        test
 17       video   6s_v2        test
 18       video   6s_v2        test
 19       video   6s_v2        test
 20       video   6s_v2        test
 21       video   6s_v2        test
 22       video   6s_v2        test
 23       video   6s_v2        test
 24       video   6s_v2        test
 25       video   6s_v2        test
 26       video   6s_v2        test
 27       video   6s_v2        test  }

In [24]:
# источник Beeline
# тип отчета Видео реклама
# Функция для обработки статистики по дням для обычных размещений 
# Каждый креатив на отдельном листе

def get_beeline_video_report(data_link, report_type):
    tmp_video_dict = {}
        
    sheet_names = pd.ExcelFile(BytesIO(data_link))
    cols_range = 'A:J' # задаем диапазон полей, которые нам нужны
    
     # проходим через цикл по списку названий листов
    for name in sheet_names.sheet_names:
        # передаем название листа для парсинга, диапазон колонок, которые нам нужны и заранее подготовленный списко названий полей
        df = pd.read_excel(BytesIO(data_link), sheet_name=name, usecols=cols_range, header=None, skiprows=8) 
        df = df.fillna(0)  #заполяем пустые строки, чтобы затем их удалить
        
        start_index_list = list(df[df[0]=='Date'].index)  # собираем список индексов, где есть название Date
    
        # Проходим через цикл по каждой таблице, которая содержится на листе
        for num, i in enumerate(start_index_list):
            # забираем индекс строки начала таблицы
            start_index = start_index_list[num] # берем индекс начала таблицы с данными
            creative_name = df[0][start_index-1] # забираем значение из ячейки над полем Дата 
            key = name 
            if creative_name:
                key = name + '_' + str(creative_name).lower().str.strip() # если такое название есть, то добавляем его к базовому названию креатива
                
            df_tmp = df.iloc[start_index+1:]
            df_tmp.columns = df.iloc[start_index].str.lower().str.strip() # забираем название полей из файла
            # привоодим их к единому стандарту
            df_tmp = df_tmp.rename(columns={'first quartile': '25', 'midpoint': '50', 'third quartile': '75', 'complete views': '100'}) 
            df_tmp = df_tmp[['date', 'impressions','reach', 'clicks',  '25', '50', '75', '100']] # оставляем только нужные поля
            df_tmp = df_tmp.reset_index(drop=True) # сбрасываем индексацию
            end_index = list(df_tmp[df_tmp['date']==0].index)[0] # получаем окончание датаФрейма
            df_tmp = df_tmp.iloc[:end_index] # обрезаем датаФрейм до нужной строки
            df_tmp['date'] = pd.to_datetime(df_tmp['date']).dt.date # приводим датуВремя в просто дату
            df_tmp['source'] = 'beeline'
            df_tmp['format_type'] = 'video' # добавляем статичое поле с название Типа формата рекламы (Видео/Баннер)
            df_tmp['product'] = key # добавляем название продукта
            df_tmp['report_type'] = report_type
            # сохраняем датаФрейм во временный словарь 
            # ключ - это название продукта (15s, 6s и тд) + дополнительное название креатива(если оно есть)
    
            tmp_video_dict[key] = df_tmp  
        
    return pd.concat(tmp_video_dict, ignore_index=True)